<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<!-- Directiva th:if permite colocar una validación en metodo size() comprueba el tamaño del objeto o lista -->
	<div th:if="${usuarios.isEmpty}">no hay usuarios en la lista</div>

	<!--Primer Ejemplo usuario sin datos:  <table th:if="${usuarios.size()>0}">-->
	<table th:if="${!usuarios.isEmpty}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
		<!-- Directiva th:each for each que permite iterar un objeto lista -->
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>
			</tr>
		</tbody>

	</table>

</body>
</html>